.About {
  background-image: url("https://wallpaperaccess.com/full/322944.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 92%;
  background-size: cover;
  background-position: bottom;
  text-align: left;
}
.left {
  text-align: left;
  margin-left: 40px;
  width: 500px;
  font-size: 26px;
}
