.Info {
  background-image: url("https://www.nawpic.com/media/2020/star-wars-nawpic-23.jpg");
  position: fixed;
  width: 100%;
  height: 90%;
  background-size: cover;
  background-position: bottom;
  overflow-y: scroll;
}

.dataList {
  list-style: "none";
  font-size: 20px;
  color: white;
  background-color: black;
  width: 100%;
  opacity: 0.8;
  margin-left: 40px;
  text-align: left;
}

.pageButtons {
  text-align: left;
  margin-left: 60px;
}

.infoscreen {
  display: table;
  flex-direction: row;
  font-size: 20px;
  align-items: left;
}
.infoview {
  flex: 1;
  text-align: left;
  color: white;
  border-color: black;
  background-color: black;
  opacity: 0.8;
  max-width: 20%;
  height: auto;
  min-width: 220px;
}

.infoview2 {
  flex: 1;
  text-align: left;
  color: white;
  border-color: black;
  margin-left: 30%;
  background-color: black;
  opacity: 0.8;
  max-width: 20%;
  height: auto;
  margin-top: 10px;
  min-width: 220px;
  margin-bottom: 50px;
}
.pageButtons {
  text-align: center;
}
.button {
  background-color: black;
  color: white;
  margin: 6px;
  padding: 5px 40px;
  font-size-adjust: none;
  min-width: 6%;
  width: auto;
  text-align: center;
}

.pageText {
  font-size: 60%;
  color: white;
}

.input {
  font-size: 20px;
  padding: 5px 5px;
  width: 10%;
}

.extraspace {
  height: 10%;
  width: auto;
}
